@font-face {
          font-family: 'Inconsolata';
          font-style: regular;
          font-weight: 400;
          src: local('United'), url(/opt/odoo/extras/pacifico/static/src/font/Inconsolata-Regular.ttf);
        }